parameters:
	ignoreErrors:
		-
			message: "#^Attribute class Symfony\\\\Component\\\\Serializer\\\\Annotation\\\\Context does not have the parameter target\\.$#"
			count: 1
			path: ../../../src/Dto/Indicator.php

